nav {
  background: linear-gradient(to right, #1c42fd, #3ce9e7);
  font-size: 16px;
  font-weight: 500;
}
.page1 {
  min-height: 100vh;
  background-image: url(img/gambar\ hiasan.png);
  background-repeat: no-repeat;
  background-position-y: bottom;
  margin-bottom: 100px;
}
hr {
  border: 0;
  height: 3px;
  background: linear-gradient(to right, #1c42fd, #3ce9e7); /* Gradasi warna */
}
.card {
  background: transparent;
  border: none;
}
/* .bgcolor {
    background: linear-gradient(to bottom, #3ce9e7, #1c42fd);
} */
.showcase {
  border: 2px dashed #3ce9e7;
  padding: 30px;
  background-color: #f8f9fa;
}
.showcase img {
  max-width: 90%;
  border-radius: 5px;
}
.developer-info {
  font-size: 0.9rem;
  margin-top: 10px;
  color: #1B1833;
}
.read-more {
  color: #007bff;
  font-weight: bold;
  text-decoration: none;
}
.read-more:hover {
  text-decoration: underline;
}
.custom-font-size {
    font-size: 1.1rem;
    line-height: 1.6;
}
